table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.rowHower:hover {
  background-color: #a3aaba;
  cursor: pointer;
}

.toolbar-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #d9dcde;
}

.sticky-table-header {
  position: sticky;
  top: 114px;
  background-color: white;
  z-index: 1000;
}
