<div class="wrapper">
  <form [formGroup]="form">
    <h1 mat-dialog-title>Create Store</h1>
    <div mat-dialog-content class="mat-typography">
      <mat-form-field class="form-field">
        <mat-label>Enter store name</mat-label>
        <input
          matInput
          placeholder="Doblin store"
          formControlName="Name"
          required
        />
        <mat-error *ngIf="form.get('Name')?.invalid">
          {{ getErrorMessage("Name") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Enter email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="Email"
          required
        />
        <mat-error *ngIf="form.get('Email')?.invalid">
          {{ getErrorMessage("Email") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Phone number</mat-label>
        <input
          matInput
          placeholder="+380973469146"
          formControlName="PhoneNumber"
          required
        />
        <mat-error *ngIf="form.get('PhoneNumber')?.invalid">
          {{ getErrorMessage("PhoneNumber") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Enter address</mat-label>
        <input
          matInput
          placeholder="New York, NY, USA"
          formControlName="Address"
          required
        />
        <mat-error *ngIf="form.get('Address')?.invalid">
          {{ getErrorMessage("Address") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Establishing Date</mat-label>
        <input
          matInput
          placeholder="12.11.2023"
          formControlName="Established"
          required
        />
        <mat-error *ngIf="form.get('Established')?.invalid">
          {{ getErrorMessage("Established") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Floor Area</mat-label>
        <input
          matInput
          placeholder="20 sq. m"
          formControlName="FloorArea"
          required
        />
        <mat-error *ngIf="form.get('FloorArea')?.invalid">
          {{ getErrorMessage("FloorArea") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button (click)="createStore()" mat-button cdkFocusInitial>Create</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>
