<h1 class="title">{{ title }}</h1>
<div class="label-block">
  <div class="text-column">
    <label class="label">Email:</label>
    <span class="text">Athena.Raynor14аhotmail.com</span>
    <label class="label">Phone number:</label>
    <span class="text">267.388.0098 x69833</span>
    <label class="label">Address:</label>
    <span class="text">267.388.0098 x69833</span>
  </div>
  <div class="text-column">
    <label class="label">Established Date:</label>
    <span class="text">267.388.0098 x69833</span>
    <label class="label">Floor Area:</label>
    <span class="text">267.388.0098 x69833</span>
  </div>
</div>
