table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.rowHower:hover {
  background-color: #a3aaba;
  cursor: pointer;
}

.toolbar-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}
