<div class="sticky-toolbar">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search..."
      #input
    />
  </mat-form-field>
  <div class="toolbar-buttons">
    <button (click)="createStorePress()" mat-button color="primary">
      Create
    </button>
    <button
      (click)="deleteRowsPress()"
      [disabled]="!selection.selected.length"
      mat-button
      color="primary"
    >
      Delete
    </button>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef class="sticky-table-header">
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th class="sticky-table-header" mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th class="sticky-table-header" mat-header-cell *matHeaderCellDef>
      Address
    </th>
    <td mat-cell *matCellDef="let element">{{ element.Address }}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th class="sticky-table-header" mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    class="rowHower"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="navToStoreDetails(row)"
  ></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
